<mat-dialog-content>
    <h3>Add Meeting Notes</h3>
    <form (submit)="$event.preventDefault()">

        <mat-form-field>
            <mat-label>Comments</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="cdkAutosizeMinRows"
            [cdkAutosizeMaxRows]="cdkAutosizeMaxRows"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Questions</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="cdkAutosizeMinRows"
            [cdkAutosizeMaxRows]="cdkAutosizeMaxRows"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>My Action Items</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="cdkAutosizeMinRows"
            [cdkAutosizeMaxRows]="cdkAutosizeMaxRows"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Their Action Items</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="cdkAutosizeMinRows"
            [cdkAutosizeMaxRows]="cdkAutosizeMaxRows"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Important Agreements</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="cdkAutosizeMinRows"
            [cdkAutosizeMaxRows]="cdkAutosizeMaxRows"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Satisfaction</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="cdkAutosizeMinRows"
            [cdkAutosizeMaxRows]="cdkAutosizeMaxRows"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Plans</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="cdkAutosizeMinRows"
            [cdkAutosizeMaxRows]="cdkAutosizeMaxRows"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Feedback</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="cdkAutosizeMinRows"
            [cdkAutosizeMaxRows]="cdkAutosizeMaxRows"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Issues</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="cdkAutosizeMinRows"
            [cdkAutosizeMaxRows]="cdkAutosizeMaxRows"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Attrition Risk</mat-label>
            <mat-select>
              <mat-option *ngFor="let attrition of attritionRiskValues" [value]="attrition">
                {{ attrition }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>1-1 Sent</mat-label>
            <mat-select>
              <mat-option *ngFor="let sent of ['Yes', 'No']" [value]="sent">
                {{ sent }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button>Submit</button>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial>Save</button>
</mat-dialog-actions>