<mat-dialog-content>
    <h3>Add Meeting Notes</h3>
    <form (submit)="$event.preventDefault()">

        <mat-form-field appearance="fill">
            <mat-label>Impact: </mat-label>
            <mat-select>
              <mat-option *ngFor="let impact of impactValues" [value]="impact">
                {{ impact }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Attrition Risk: </mat-label>
            <mat-select>
              <mat-option *ngFor="let attrition of attritionRiskValues" [value]="attrition">
                {{ attrition }}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Comment: </mat-label>
            <textarea matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <button mat-raised-button>Submit</button>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial>Save</button>
</mat-dialog-actions>